<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConfigurationDirectory" value="C:\\TeamCity\\Configuration" />
    <add key="TeamCity.Password" value="password" />
    <add key="TeamCity.ServerUrl" value="teamcity" />
    <add key="TeamCity.UseSsl" value="false" />
    <add key="TeamCity.Username" value="username" />
  </appSettings>
  <!--
    <system.net>
      <defaultProxy>
        <proxy proxyaddress="http://localhost:8888" bypassonlocal="false" />
      </defaultProxy>
    </system.net>
  -->
</configuration>